[submodule "db4.8"]
	path = db4.8
	url = https://github.com/DaemonIB/db4.8.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/DaemonIB/leveldb.git
[submodule "OpenSSL-1.1.1"]
	path = OpenSSL-1.1.1
	url = https://github.com/DaemonIB/OpenSSL-1.1.1.git
